<% provide(:title, 'Nz Mapping') %>

<div class="center">
  <h1>Nz Mapping</h1>
</div>

<div class="row row_margin">
  <div class="col-md-6 center col_margin">
    <%= link_to image_tag("nz_mapping.png", width: "450px"), "#" %>
  </div>
  <div class="col-md-6 center col_margin">
    <%= link_to image_tag("gen_img_mapping.png", width: "450px"), "#" %>
  </div>
</div>